* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin-top: 60px;
  position: relative;
  background-color: #f2f2fc;
}

.container {
  display: flex;
}

.chats {
  position: fixed;
  bottom: 15px;
  right: 23px;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
